torch==2.2.2
transformers==4.38.2
accelerate==0.30.0
bitsandbytes==0.43.1
fastapi==0.111.0
python-json-logger==2.0.7
streamlit==1.34.0
torchvision==0.17.2
torchaudio==2.2.2
langchain==0.1.20
sentence_transformers==2.7.0
# faiss-gpu
faiss-cpu==1.8.0
pypdf==4.2.0